*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}
.image{
    width:100%;
    height:80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imagens/bg-3.jpg);
}
.header-container{
    width: 100%;
    height: 85%;
    align-items: center;
    flex-direction:column;
    display: flex;
    justify-content: center;
}
h1{
    color:white;
    text-align: center;
    font-size: 50px;
}

article{
    background-color: white;
    padding:20px;
    padding-bottom: 30px;;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
nav{
    height: 15%;
}
.titulo{
    margin-bottom: 40px;
}
header{
    margin-bottom: 10px;
}
.buttons{
    text-decoration: none;
}
.subtitles{
    padding: 10px;
    padding-top: 5px;
    background-color: rgb(237, 227, 227);
}
p{
    margin: 15px;
    margin-bottom: 30px;
}
.realLink{
    color: blue;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color:rgb(198, 188, 188);
}
.undertitle_link{
    background-color:rgba(0, 0, 0,0.6);
    padding: 10px;
    padding-top: 5px;
    margin-top: 30px;
    border-style: solid;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom-color: white;


}
.special{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 12px;
    display: inline-block;
}
li{
    margin: 20px 0px 0px 10px;
    list-style-type:none;
    display: inline-block;
    background-color:rgba(0, 0, 0,0.3);
    color: white;
    outline-style: solid;
    outline-width: 1px;
    
}
.buttonsDiff{
    display: inline-block;
    text-decoration: none;
    font-size:x-small;
    padding: 10px;
    color: white;
}
ul{
    margin-right: 30px;
    text-align: right;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 30px 0px 0px 0px;
    padding: 20px;
    text-align: center;
    background-color:rgba(0, 0, 0,0.3);
}
a.buttonsDiff:hover{
    background-color: blueviolet;
}

.undertitle_link:hover{
    background-color: purple;
}
}

